/* 
dark grey
#2a2b2f

grey
#4f4f57 

light grey
#9499a5

green
#2e8b57
*/

body {
	background-color: #4f4f57;
	font-family: 'Source Code Pro', monospace;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	width: 100%;
	height: 100vh;

	overflow: auto;
}

#topnav {
	background-color: #2a2b2f;

	flex: 0 0 auto;

	display: flex;
	flex-direction: row;
	/* justify-content: flex-start; */
	flex-wrap: wrap;

}

#topnav button {
	margin: 0px 0px 0px 0px;
	/* height: 40px; */

	background: none;
	/* box-shadow: none; */
	border: 1px solid #9499a5;
	color: #9499a5;
	text-align: center;
	padding: 14px 14px 14px 14px;
	/* text-decoration: none; */
	font-size: 14px;
	font-weight: bold;
}

#topnav button:hover {
	background-color: #9499a5;
	color: #2a2b2f;
}

#universe {

	flex: 1 1 auto;

	padding: 0px 0px 0px 0px;
	background: #2a2b2f;
	/* min-height: 100vh; */
	overflow: auto;
}

#topnav input[type="file"] {
	display: none;
	/* visibility: hidden; */
}

#importButtonDiv {
	display: flex

}

#topnav .custom-file-upload {
	margin: 0px 0px 0px 0px;
	border: 1px solid #9499a5;
	color: #9499a5;

	padding-left: 14px;
	padding-right: 14px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;

	display: flex;
	align-items: center;
}

#topnav .custom-file-upload:hover {
	background-color: #9499a5;
	color: #2a2b2f;
}

.dropdown {
	position: relative;
	max-width: 100%;
}

.dropdown-content {
	position: absolute;
	display: none;
	background-color: #2a2b2f;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}