/* 
dark grey
#2a2b2f

grey
#4f4f57 

light grey
#9499a5

green
#2e8b57
*/

body {
    background-color: #4f4f57;
    font-family: 'Source Code Pro', monospace;
    /* font-family: monospace; */
}

.topnav {
    background-color: #2a2b2f;
    overflow: hidden;

}

.topnav button {
    background: none;
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid #9499a5;
    float: left;
    color: #9499a5;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.topnav button:hover {
    background-color: #9499a5;
    color: #2a2b2f;
}

#universe {
    padding: 10px 10px 10px 10px
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background: none;
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid #9499a5;
    float: left;
    color: #9499a5;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    /* height: 22px; */
}

.custom-file-upload:hover {
    background-color: #9499a5;
    color: #2a2b2f;
}