/* 
dark grey
#2a2b2f

grey
#4f4f57 

light grey
#9499a5

green
#2e8b57
*/

body {
    background-color: #4f4f57;
    font-family: 'Source Code Pro', monospace;
}

.topnav {
    background-color: #2a2b2f;
    /* overflow: hidden; */
}


.topnav button {
    /* background: none; */
    background-color: #2a2b2f;
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid #9499a5;
    float: left;
    color: #9499a5;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.topnav button:hover {
    background-color: #9499a5;
    color: #2a2b2f;
}

#universe {
    padding: 0px 0px 0px 0px;
    background: #2a2b2f;
    min-height: 100vh;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background: none;
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid #9499a5;
    float: left;
    color: #9499a5;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.custom-file-upload:hover {
    background-color: #9499a5;
    color: #2a2b2f;
}

#dropbtn {
    /* background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none; */
    background-color: #2a2b2f;
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid #9499a5;
    float: left;
    color: #9499a5;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.dropdown {
    float: left;
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    /* min-width: 10px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* z-index: 1; */
}

.dropdown:hover .dropdown-content {
    display: block;
}